{% extends '__index__.html' %}

{% block title %}Home{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="aw-section aw-section-color-1 aw-section-colored">
        <div class="uk-container uk-container-center uk-text-center">
            <p class="aw-jumbotronName aw-welcome">Welcome to Albert World</p>
            <br>
            <br>
            <p class="aw-jumbotronSay aw-proverb">
            每个程序猿上辈子一定是一个强大的魔法师！<br>
            Every programmer must be a powerful witzard in his last life!
            </p>
            <p class="aw-jumbotronSay aw-proverb">
            世界上总有某个地方可以看到阳光.<br>
            It is always morning somewhere in the world.
            </p>
            <p class="aw-jumbotronSay aw-proverb">
            第一步是最关键的一步.<br>
            The first step is as good as half over.
            </p>
            <p class="aw-jumbotronSay aw-proverb">
            不独善其身, 何以兼济天下.<br>
            Talk is cheap, work on the code!
            </p>
        </div>
    </div>
    <!--<div class="aw-section aw-section-color-white">
        <div class="uk-container uk-container-center uk-text-center">
            <h1>All users</h1>
            {% for u in users %}
            <p>{{ u.name }} / {{ u.email }}</p>
            {% endfor %}
        </div>
    </div>
    class="uk-text-large"
    -->
    <div class="aw-section aw-section-color-2 aw-section-colored">
        <div class="uk-container uk-container-center uk-text-center">
            <h1>All users</h1>
            {% for u in users %}
            <p >{{ u.name }} / {{ u.email }}</p>
            {% endfor %}
            <br>
            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/whale.png" width="200" height="140" alt="Components">
                        <h2 class="uk-margin-top-remove">Whale</h2>
                        <p>体积小、反应灵敏的响应式组件，使用一致的、无冲突的命名规则。</p>
                    </div>
                </div>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/crab.png" width="200" height="140" alt="Themes">
                        <h2 class="uk-margin-top-remove">Crab</h2>
                        <p>可根据 UIKit 基本的风格及样式，轻松地自定义创建出自己喜欢的主题样式。</p>
                    </div>
                </div>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/dolphin.png" width="200" height="140" alt="Responsive">
                        <h2 class="uk-margin-top-remove">Dolphin</h2>
                        <p>根据不同的屏幕分辨率与上网设备，UIKit 会自动做出响应，提供一致的体验。</p>
                    </div>
                </div>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/octopus.png" width="200" height="140" alt="LESS">
                        <h2 class="uk-margin-top-remove">Octopus</h2>
                        <p>UIkit 基于 <a href="http://www.lesscss.net" target="_blank" rel="nofollow">LESS</a> 开发，代码结构清晰简单，易于扩展和维护。</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}