{% extends '__index__.html' %}

{% block title %}Home{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="aw-section aw-section-color-1 aw-section-colored">
        <div class="uk-container uk-container-center uk-text-center">
            <p class="aw-jumbotronName aw-welcome">Welcome to Albert World</p>
            <br>
            <br>
            <p class="aw-jumbotronSay aw-proverb">
            每个程序猿上辈子一定是一个强大的魔法师！<br>
            Every programmer must be a powerful witzard in his last life!
            </p>
            <p class="aw-jumbotronSay aw-proverb">
            世界上总有某个地方可以看到阳光.<br>
            It is always morning somewhere in the world.
            </p>
            <p class="aw-jumbotronSay aw-proverb">
            第一步是最关键的一步.<br>
            The first step is as good as half over.
            </p>
            <p class="aw-jumbotronSay aw-proverb">
            不独善其身, 何以兼济天下.<br>
            Talk is cheap, work on the code!
            <br>
        </div>
    </div>
    <!--<div class="aw-section aw-section-color-white">
        <div class="uk-container uk-container-center uk-text-center">
            <h1>All users</h1>
            {% for u in users %}
            <p>{{ u.name }} / {{ u.email }}</p>
            {% endfor %}
        </div>
    </div>
    class="uk-text-large"
    -->
    <div class="aw-section aw-section-color-2 aw-section-colored">
        <div class="uk-container uk-container-center uk-text-center">
            <h1 class="uk-heading-large uk-margin-bottom-remove">师夷制夷</h1>
            <p class="uk-text-large">学习是一个永无止境、不断探索的过程，<br class="uk-hidden-small"> 只有勇于拓宽自己的知识范围，才能够领略到自己曾经的无知。</p>

            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/whale.png" width="200" height="140" alt="Components">
                        <h2 class="uk-margin-top-remove">Whale</h2>
                        <p class="uk-text-large">海纳百川容乃大<br>壁立千仞无欲刚</p>
                    </div>
                </div>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/crab.png" width="200" height="140" alt="Themes">
                        <h2 class="uk-margin-top-remove">Crab</h2>
                        <p class="uk-text-large">无肠公子任横行<br>自恃双栖介甲兵</p>
                    </div>
                </div>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/dolphin.png" width="200" height="140" alt="Responsive">
                        <h2 class="uk-margin-top-remove">Dolphin</h2>
                        <p class="uk-text-large">雪中送炭三九暖<br>助人为乐众称羡</p>
                    </div>
                </div>

                <div class="uk-width-medium-1-4">
                    <div class="uk-panel">
                        <img class="tm-image-pull" src="static/images/octopus.png" width="200" height="140" alt="LESS">
                        <h2 class="uk-margin-top-remove">Octopus</h2>
                        <p class="uk-text-large">勤者艺多不压身<br>愚人功到自然成</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}